{% extends 'home/base.html' %}
{% load static %}

{% block content %}



<div class="container">
    <div class="row space-100">
    <div class="col-lg-6 col-md-12 col-xs-12">
    <div class="contents">
    <h2 class="head-title">Streamline Your Client Connections<br> with Smart Solutions</h2>
    <p>Transform your client interactions with our sleek, smart digital card. Effortlessly manage and enhance relationships with cutting-edge technology that sets you apart.</p>
    <div class="header-button">
    <a href="{% url 'home' %}#pricing" class="btn btn-border-filled">Register</a>

    <a href="#contact" class="btn btn-border page-scroll">Contact Us</a>
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-md-12 col-xs-12 p-0">
    <div class="intro-img">
    <img src="{% static 'img/intro.png' %}" alt>
    </div>
    </div>
    </div>
    </div>
    </header>
    
  


    <section id="showcase">
      <div class="container-fluid right-position">
        
        <!-- Section Header -->
        <div class="row gradient-bg">
          <div class="col-lg-12">
            <div class="showcase-text section-header text-center p-3 p-md-4 p-lg-5">
                <h2 class="section-title">The memories from the last Dandiya festival still dance in our hearts today.
                <div class="desc-text">
                    <p style="padding-left:10%;padding-right:10%;">
                        Creative demos of professional visiting cards showcase innovative designs that combine aesthetics with functionality. These demos highlight unique elements like typography, colors, and materials to make memorable, impactful business cards.
                    </p>
                </div>
            </div>
        </div>
        
        </div>
    
        <!-- Showcase Area -->
        <div class="row justify-content-center showcase-area">
          <div class="col-lg-12 col-md-12 col-xs-12 pr-0">
            <div class="showcase-slider owl-carousel">
              
              <!-- Item 1 -->
              <div class="item">
                <div class="screenshot-thumb">
                  <img src="{% static 'img/showcase/01.jpeg' %}" class="img-fluid" alt="Recent Work 1" />
                  <div class="hover-content text-center">
                    <div class="fancy-table">
                      <div class="table-cell">
                        <div class="single-text">
                          <p>2023</p>
                          <h5>Grand Dandiya</h5>
                        </div>
                        <div class="zoom-icon">
                          <a class="lightbox" href="{% static 'img/showcase/001.jpeg' %}">
                            <i class="lni-zoom-in"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
              <!-- Item 2 -->
              <div class="item">
                <div class="screenshot-thumb">
                  <img src="{% static 'img/showcase/02.jpeg' %}" class="img-fluid" alt="Recent Work 2" />
                  <div class="hover-content text-center">
                    <div class="fancy-table">
                      <div class="table-cell">
                        <div class="single-text">
                          <p>2022</p>
                          <h5>Dandiya Mohastav</h5>
                        </div>
                        <div class="zoom-icon">
                          <a class="lightbox" href="{% static 'img/showcase/02.jpeg' %}">
                            <i class="lni-zoom-in"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
              <!-- Item 3 -->
              <div class="item">
                <div class="screenshot-thumb">
                  <img src="{% static 'img/showcase/03.jpeg' %}" class="img-fluid" alt="Recent Work 3" />
                  <div class="hover-content text-center">
                    <div class="fancy-table">
                      <div class="table-cell">
                        <div class="single-text">
                          <p>2022</p>
                          <h5>Dandiya Mohastav</h5>
                        </div>
                        <div class="zoom-icon">
                          <a class="lightbox" href="{% static 'img/showcase/03.jpeg' %}">
                            <i class="lni-zoom-in"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              
              <!-- Item 4 -->
              <div class="item">
                <div class="screenshot-thumb">
                  <img src="{% static 'img/showcase/04.jpeg' %}" class="img-fluid" alt="Recent Work 3" />
                  <div class="hover-content text-center">
                    <div class="fancy-table">
                      <div class="table-cell">
                        <div class="single-text">
                          <p>2022</p>
                          <h5>Dandiya Mohastav</h5>
                        </div>
                        <div class="zoom-icon">
                          <a class="lightbox" href="{% static 'img/showcase/04.jpeg' %}">
                            <i class="lni-zoom-in"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              
              <!-- Item 6 -->
              <div class="item">
                <div class="screenshot-thumb">
                  <img src="{% static 'img/showcase/05.jpeg' %}" class="img-fluid" alt="Recent Work 3" />
                  <div class="hover-content text-center">
                    <div class="fancy-table">
                      <div class="table-cell">
                        <div class="single-text">
                          <p>2022</p>
                          <h5>Dandiya Mohastav</h5>
                        </div>
                        <div class="zoom-icon">
                          <a class="lightbox" href="{% static 'img/showcase/05.jpeg' %}">
                            <i class="lni-zoom-in"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              
              <!-- Item 7 -->
              <div class="item">
                <div class="screenshot-thumb">
                  <img src="{% static 'img/showcase/06.jpeg' %}" class="img-fluid" alt="Recent Work 3" />
                  <div class="hover-content text-center">
                    <div class="fancy-table">
                      <div class="table-cell">
                        <div class="single-text">
                          <p>2022</p>
                          <h5>Dandiya Mohastav</h5>
                        </div>
                        <div class="zoom-icon">
                          <a class="lightbox" href="{% static 'img/showcase/06.jpeg' %}">
                            <i class="lni-zoom-in"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              
              <!-- Item 6 -->
              <div class="item">
                <div class="screenshot-thumb">
                  <img src="{% static 'img/showcase/07.jpeg' %}" class="img-fluid" alt="Recent Work 3" />
                  <div class="hover-content text-center">
                    <div class="fancy-table">
                      <div class="table-cell">
                        <div class="single-text">
                          <p>2022</p>
                          <h5>Dandiya Mohastav</h5>
                        </div>
                        <div class="zoom-icon">
                          <a class="lightbox" href="{% static 'img/showcase/07.jpeg' %}">
                            <i class="lni-zoom-in"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              
              <!-- Item 7 -->
              <div class="item">
                <div class="screenshot-thumb">
                  <img src="{% static 'img/showcase/08.jpeg' %}" class="img-fluid" alt="Recent Work 3" />
                  <div class="hover-content text-center">
                    <div class="fancy-table">
                      <div class="table-cell">
                        <div class="single-text">
                          <p>2023</p>
                          <h5>Grand Dandiya</h5>
                        </div>
                        <div class="zoom-icon">
                          <a class="lightbox" href="{% static 'img/showcase/08.jpeg' %}">
                            <i class="lni-zoom-in"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- Item 6 -->
              <div class="item">
                <div class="screenshot-thumb">
                  <img src="{% static 'img/showcase/09.jpeg' %}" class="img-fluid" alt="Recent Work 3" />
                  <div class="hover-content text-center">
                    <div class="fancy-table">
                      <div class="table-cell">
                        <div class="single-text">
                          <p>2023</p>
                          <h5>Grand Dandiya</h5>
                        </div>
                        <div class="zoom-icon">
                          <a class="lightbox" href="{% static 'img/showcase/09.jpeg' %}">
                            <i class="lni-zoom-in"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              
              <!-- Item  -->
              <div class="item">
                <div class="screenshot-thumb">
                  <img src="{% static 'img/showcase/10.jpeg' %}" class="img-fluid" alt="Recent Work 3" />
                  <div class="hover-content text-center">
                    <div class="fancy-table">
                      <div class="table-cell">
                        <div class="single-text">
                          <p>2023</p>
                          <h5>Grand Dandiya</h5>
                        </div>
                        <div class="zoom-icon">
                          <a class="lightbox" href="{% static 'img/showcase/10.jpeg' %}">
                            <i class="lni-zoom-in"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             
              <!-- Item 7 -->
              <div class="item">
                <div class="screenshot-thumb">
                  <img src="{% static 'img/showcase/11.jpeg' %}" class="img-fluid" alt="Recent Work 3" />
                  <div class="hover-content text-center">
                    <div class="fancy-table">
                      <div class="table-cell">
                        <div class="single-text">
                          <p>2023</p>
                          <h5>Grand Dandiya</h5>
                        </div>
                        <div class="zoom-icon">
                          <a class="lightbox" href="{% static 'img/showcase/11.jpeg' %}">
                            <i class="lni-zoom-in"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              
              
              <!-- Item 6 -->
              <div class="item">
                <div class="screenshot-thumb">
                  <img src="{% static 'img/showcase/12.jpeg' %}" class="img-fluid" alt="Recent Work 3" />
                  <div class="hover-content text-center">
                    <div class="fancy-table">
                      <div class="table-cell">
                        <div class="single-text">
                          <p>2023</p>
                          <h5>Grand Dandiya</h5>
                        </div>
                        <div class="zoom-icon">
                          <a class="lightbox" href="{% static 'img/showcase/011.jpeg' %}">
                            <i class="lni-zoom-in"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              
              <!-- Item 7 -->
              <div class="item">
                <div class="screenshot-thumb">
                  <img src="{% static 'img/showcase/13.jpeg' %}" class="img-fluid" alt="Recent Work 3" />
                  <div class="hover-content text-center">
                    <div class="fancy-table">
                      <div class="table-cell">
                        <div class="single-text">
                          <p>2023</p>
                          <h5>Grand Dandiya</h5>
                        </div>
                        <div class="zoom-icon">
                          <a class="lightbox" href="{% static 'img/showcase/13.jpeg' %}">
                            <i class="lni-zoom-in"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- Item 6 -->
              <div class="item">
                <div class="screenshot-thumb">
                  <img src="{% static 'img/showcase/14.jpeg' %}" class="img-fluid" alt="Recent Work 3" />
                  <div class="hover-content text-center">
                    <div class="fancy-table">
                      <div class="table-cell">
                        <div class="single-text">
                          <p>2023</p>
                          <h5>Grand Dandiya</h5>
                        </div>
                        <div class="zoom-icon">
                          <a class="lightbox" href="{% static 'img/showcase/014.jpeg' %}">
                            <i class="lni-zoom-in"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              
              <!-- Item 7 -->
              <div class="item">
                <div class="screenshot-thumb">
                  <img src="{% static 'img/showcase/15.jpeg' %}" class="img-fluid" alt="Recent Work 3" />
                  <div class="hover-content text-center">
                    <div class="fancy-table">
                      <div class="table-cell">
                        <div class="single-text">
                          <p>2023</p>
                          <h5>Grand Dandiya</h5>
                        </div>
                        <div class="zoom-icon">
                          <a class="lightbox" href="{% static 'img/showcase/015.jpeg' %}">
                            <i class="lni-zoom-in"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- Item 6 -->
              <div class="item">
                <div class="screenshot-thumb">
                  <img src="{% static 'img/showcase/16.jpeg' %}" class="img-fluid" alt="Recent Work 3" />
                  <div class="hover-content text-center">
                    <div class="fancy-table">
                      <div class="table-cell">
                        <div class="single-text">
                          <p>2023</p>
                          <h5>Grand Dandiya</h5>
                        </div>
                        <div class="zoom-icon">
                          <a class="lightbox" href="{% static 'img/showcase/016.jpeg' %}">
                            <i class="lni-zoom-in"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>





            </div>
          </div>
        </div>
      </div>
    </section>
    
      
    
    
    <section id="business-plan">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 mb-4 mb-lg-0">
                    <div class="business-item-img">
                        <img src="{% static 'img/business/business-img.png' %}" class="img-fluid" alt="Business Plan">
                    </div>
                </div>
    
                <div class="col-lg-6 col-md-12">
                    <div class="business-item-info">
                        <h3 class="mb-4">Pimple Saudagar’s Grand Dandiya Festival</h3>
                        <p class="mb-4">Get ready to experience the rhythm, colors, and energy of Navratri like never before! Pimple Saudagar’s Biggest Dandiya Festival brings together music, dance, and celebration in one grand evening. Dance to the beats of traditional dandiya and garba, enjoy the festive ambience with friends and family, and create memories that last a lifetime. With vibrant décor, live performances, and joyful spirits all around, this is the celebration you don’t want to miss!.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    

<center>
    
    <section id="pricing" class="section">
    <div class="container">
    
    <div class="row">
    <div class="col-lg-12">
    <div class="pricing-text section-header text-center">
    <div>
    <h2 class="section-title">Registration Here to Gate Pass</h2>
    <div class="desc-text">

    </div>
    </div>
    </div>
    </div>
    </div>
    
<center>
    
    <div class="row pricing-tables">
    
    
    
    <div class="col-lg-4 col-md-4 col-xs-12">
    <div class="pricing-table text-center">
    <div class="pricing-details">
    <h3>Dandiya Pass</h3>
    <h1><span></span>26|27|28</h1>
    <ul>
    <li>Free Registration</li>
    <li>3.0</li>
    <li>Upto 4 users</li>
    <li>05pm to 11pm</li>
    <li>Enjoy The Movement</li>
    </ul>
    </div>
    <div class="plan-button">
    <a href="{% if premium_detail %}{% url 'cards:edit_premium_form' premium_detail.id %}{% else %}{% url 'cards:premium_form' %}{% endif %}" class="btn btn-common">Registration</a>
    </div>
    </div>
    </div>
    
    
    
    </div>
    </section>
    
    
    <section id="testimonial" class="section">
    <div class="container right-position">
    
    <div class="row">
    <div class="col-md-12 col-sm-12">
    <div class="video-promo-content text-center">
 <video width="560" height="315" controls>
  <source src="static/img/WhatsApp Video 2025-09-18 at 6.04.37 PM.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

    </div>
    </div>
    </div>
  <style>
video {
  width: 560px;
  height: 315px;
  max-width: 100%;
}

@media (max-width: 770px) {
  video {
    width: 338px;
    height: 259px;
  }
}

</style>
    
 
    </section>
    
    
  
    
    <section id="blog" class="section">
    
    <div class="container">
    
    <div class="row">
    <div class="col-lg-12">
    <div class="blog-text section-header text-center">
    <div>
    <h2 class="section-title"> Blog Posts</h2>
    <div class="desc-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
    <p>eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="row">
    
    <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
    
    <div class="blog-item-wrapper">
    <div class="blog-item-img">
    <a href="single-post.html">
    <img src="{% static 'img/blog/01.jpeg' %}" class="img-fluid" alt>
    </a>
    </div>
    <div class="blog-item-text">
    <h3><a href="single-post.html">Grand Festival<br>2022</a></h3>
    <p> The beginning of a vibrant celebration filled with cultural shows and traditional performances.</p>
    <a href class="read-more"> Min read</a>
    </div>
    <div class="author">
    <span class="name"><i class="lni-user"></i><a href="#">Posted by Admin</a></span>
    <span class="date float-right"><i class="lni-calendar"></i><a href="#">2022</a></span>
    </div>
    </div>
    
    </div>
    
    
    <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
    
    <div class="blog-item-wrapper">
    <div class="blog-item-img">
    <a href="single-post.html">
    <img src="{% static 'img/blog/02.jpeg' %}" class="img-fluid" alt>
    </a>
    </div>
    <div class="blog-item-text">
    <h3><a href="single-post.html">Grand Festival <br>2023</a></h3>
    <p> Expanded with more participants, international guests, and new creative themes.</p>
    <a href class="read-more"> Min read</a>
    </div>
    <div class="author">
    <span class="name"><i class="lni-user"></i><a href="#">Posted by Admin</a></span>
    <span class="date float-right"><i class="lni-calendar"></i><a href="#">10 April, 2020</a></span>
    </div>
    </div>
    
    </div>
    
    
    <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
    
    <div class="blog-item-wrapper">
    <div class="blog-item-img">
    <a href="single-post.html">
    <img src="{% static 'img/blog/03.jpeg' %}" class="img-fluid" alt>
    </a>
    </div>
    <div class="blog-item-text">
    <h3><a href="single-post.html">Upcoming Grand Dandiya Festival   <br>2025</a></h3>
    <p>Get ready for the Upcoming Grand Festival 2025!
Celebrate the divine Dadiya Yatra with joy and devotion.</p>
    <a href class="read-more">Min read</a>
    </div>
    <div class="author">
    <span class="name"><i class="lni-user"></i><a href="#">Posted by Admin</a></span>
    <span class="date float-right"><i class="lni-calendar"></i><a href="#">26-28 Sept, 2025</a></span>
    </div>
    </div>
    
    </div>
    
    </div>
    
    </div>
    </section>

    <style></style>
    
    

    <script src="app.js"></script>
  </body>
</html>

    
    
    
    <div class="col-lg-1">
    </div>
    
    
    <div class="col-lg-4 col-md-12">
    <div class="contact-img">
    <img src="img/contact/01.png' %}" class="img-fluid" alt>
    </div>
    </div>
    
    
    <div class="col-lg-1">
    </div>
    
    </div>
    
    </div>
    </section>
    

{% endblock content %}



