<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load socialaccount %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Navaratri Dandiya</title>
<link rel="shortcut icon" href="{% static 'img/favicon_io/android-chrome-512x512.png' %}" type="image/png">


    <!-- STYLE CSS -->
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="wrapper">
        <div class="inner">
            <div class="image-holder">
                <img src="{% static 'imgs/seond.png'%}" alt="">
                <img src="{% static 'imgs/first.jpg'%}" alt="">
            </div>
            <form method="POST" id="oauth-form" action="{% url 'social:begin' 'google-oauth2' %}" style="display: none;">
                {% csrf_token %}
            </form>
            <form action="{% url 'user:signin' %}" method="POST" id="signin-form">
                <h3>Sign In For Event</h3>
                {% csrf_token %}
                {% if message %} 
                    <p class="hint-text text-center" style="color: #FF0000">{{ message }}</p>
                {% endif %}
                <div class="form-holder">
                    <input type="text" class="form-control" name="username" placeholder="Username" required>
                </div>
                <div class="form-holder" style="position: relative;">
                    <input type="password" placeholder="Password" name="password" class="form-control" id="password" required>
                    <span toggle="#password" class="fa fa-fw fa-eye-slash field-icon" id="togglePassword" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"></span>
                </div>

                <div class="form-login">
                    <button type="submit" id="signin-button">Sign In</button>
                </div>
<br><br><br>
                <div class="forgot-pass">
					<p>Don't have an account? <a href="{% url 'user:signup' %}">Sign up</a>
					</p><br>
                    Forgot Password? <a href="{% url 'user:password-reset' %}">Click Here</a>
                </div>
            </form>
        </div>
    </div>

    <script src="{% static 'user/js/jquery-3.3.1.min.js' %}"></script>
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');

        // Toggle password visibility
        togglePassword.addEventListener('click', function () {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            this.classList.toggle('fa-eye');
            this.classList.toggle('fa-eye-slash');
        });
    </script>
    <script src="{% static 'user/js/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static 'user/js/main.js' %}"></script>
</body>
</html>